name: CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.21.0'
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Update kubeconfig for EKS
        run: aws eks update-kubeconfig --name mira-news-cluster --region ${{ secrets.AWS_REGION }}
      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/backend-deployment.yml
          kubectl apply -f k8s/backend-service.yml
          kubectl apply -f k8s/frontend-deployment.yml
          kubectl apply -f k8s/frontend-service.yml
          kubectl rollout status deployment/mira-news-backend
          kubectl rollout status deployment/mira-news-frontend